.div_genmp_page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_genmp_content {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.div_form_mp {
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_display_mp {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.div_gmp_gradient {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(#C6E4C9, #61C5BD);
}

.div_gmp_opaque {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #FFFFFF8E;

}

.div_gmp_form {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.gmp_form {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gmp_form input {
    width: 65%;
    border-radius: 5px;
    align-self: center;
    border: 2px solid #0b5a5c;
    line-height: 25px;
}

.input_label {
    margin-left: 75px;
    margin-bottom: 0px;
}

#btn_gmp_form {
    align-self: center;
    background: #4fd3c4;
    border-radius: 999px;
    border: none;
    box-sizing: border-box;
    color: black;
    font-family: "Lato Regular";
    font-size: 16px;
    line-height: 18px;
    padding: 8px 18px;
    width: 120px;
    margin-bottom: 15px;
}

#p_err_login {
    font-size: 14px;
    font-family: "Lato Regular";
    align-self: center;
}

.div_gmp_result {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
}