/*div_contact_form*/
.div_contact_form {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    float: left;
}

/*ul_contact_form*/
.ul_contact_form li {
    padding-top: 20px;
}

.ul_contact_form {
    list-style-type: none;
}

.ul_contact_form input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #0b5a5c;
    line-height: 25px;
}

.ul_contact_form textarea {
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: 2px solid #0b5a5c;

}

.ul_contact_form label{
    display: block;
}

/*Header - Feel free to write us!*/
#header_contact_form {
    font-family: "Roboo Black";
    font-size: 25px;
    float: right;
    color: #0b5a5c;
}

/*Button to submit form*/
.btn_submit_contact_form{
    background: #0b5a5c;
    border-radius: 999px;
    border: none;
    box-sizing: border-box;
    color: white;
    font-family: "Lato Regular";
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 18px;
    width: 100px;
}