.div_cart_item {
    height: 20%;
    width: 60%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-self: center;
}
.img_item {
    height: 100%;
    width: 30%;
    display: flex;
    border-radius: 20px;
}
.img_cart_item{
    height: 100%;
    width: 80%;
    border-radius: 20px;
}
.details_item{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
}
.cooking_time{
    height: 100%;
    width: 30%;
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}