.div_navBar {
    width: 100%;
    height: 10%;
    display: flex;
    top: 0px;
    flex-direction: row;
    align-items: center;
}

.div_logo {
    height: 100%;
    width: 8%;
}

#logo_navBar {
    height: 90%;
    width: 80%;
    margin-left: 15px;
    margin-top: 8px;
}

.div_nav_links{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: row;
}

.p_link {
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 16px;
    align-self: center;
    font-family: "Lato Regular";
    font-size: 16px;
}
.div_buttons {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#btn_login {
    background: #c1f8cf;
    border-radius: 999px;
    border: none;
    color: black;
    font-family: "Lato Regular";
    font-size: 16px;
    line-height: 18px;
    padding: 8px 18px;
    width: 120px;
    margin-top: 10px;
}

#btn_signup{
    background: #61c5bd;
    border-radius: 999px;
    border: none;
    color: black;
    font-family: "Lato Regular";
    font-size: 16px;
    line-height: 18px;
    padding: 8px 18px;
    width: 120px;
    margin-top: 10px;
}
.div_cart{
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}

#img_cart {
    margin-top: 10px;
    height: 25px;
    width: 30px;
}
#profile_icon{
    height: 30px;
    width: 30px;
}